<div class="row">
    <div class="column">
        <dl>
            <dt>Styles</dt>
            <dd>
                <a *ngFor="let route of styleRoutes" [routerLink]="'styles/' + route.path">
                    {{ route.data.title }}
                </a>
            </dd>
            <dt>Layers</dt>
            <dd>
                <a *ngFor="let route of layerRoutes" [routerLink]="'layers/' + route.path">
                    {{ route.data.title }}
                </a>
            </dd>
        </dl>
    </div>
</div>
