<div class="row">
    <div class="column">
        <dl>
            <dt>Styles</dt>
            <dd>
                <ul>
                    <li *ngFor="let route of styleRoutes">
                        <a [routerLink]="'styles/' + route.path">{{ route.data.title }}</a>
                    </li>
                </ul>
            </dd>
            <dt>Layers</dt>
            <dd>
                <ul>
                    <li *ngFor="let route of layerRoutes">
                        <a [routerLink]="'layers/' + route.path">{{ route.data.title }}</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
