<div class="row">
    <div class="column">
        <dl>
            <dt>Styles</dt>
          <dd *ngFor="let route of styleRoutes">
            <a [routerLink]="'styles/' + route.path">
                    {{ route.data.title }}
                </a>
            </dd>
            <dt>Layers</dt>
          <dd *ngFor="let route of layerRoutes">
            <a [routerLink]="'layers/' + route.path">
                    {{ route.data.title }}
                </a>
            </dd>
        </dl>
    </div>
</div>
