<div class="row">
  <div class="column header-wrapper">
    <ng-content select="header"></ng-content>
  </div>
</div>
<div class="row">
  <div class="column header-wrapper">
    <ng-content select="[toolbar]"></ng-content>
  </div>
</div>
<div class="row">
  <div class="column map-wrapper">
    <ng-content select="mbox-map"></ng-content>
  </div>
</div>
<div class="row">
  <div class="column">
    <app-code [filename]="tsFilename" [code]="tsCode"></app-code>
    <app-code [filename]="htmlFilename" [code]="htmlCode"></app-code>
    <app-code [filename]="cssFilename" [code]="cssCode"></app-code>
  </div>
</div>
