header.header {
    background: #fff;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 5.2rem;
}

aside {
    padding: 2rem 1.25rem;
    border-right: .1rem solid #d1d1d1;
    background: #f4f5f6;
}

main {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100%;
    padding-top: 5.2rem;
}

main > .container {
    padding-top: 2rem;
}
